$def with (posts)

<div class="container">
    $if session['user'] == None:
        <h1>Hello DMD's</h1>
    $else:
            <!-- Do front end later cause ;-; -->
            <div class="d-flex align-items-center justify-content-center">
                <div class="CONTAINER-LARGE">
                    <div class="card">
                      <form id="post-activity">
                        <div class="card-body">
                            <textarea name="content" class="post-input" placeholder="What discrete problem has been erking you $session['user']['username']?"></textarea>
                            <div class="row d-flex">
                                <div class="col justify-content-end">
                                    <button type="submit" class="btn btn-default btn-circle bg-black"><i class="fas fa-play"></i></button>
                                </div>
                            </div>
                        </div>
                      </form>
                    </div>
                    <br>
                   <div class='container-grid'>
                     <div class='masonry-grid'>
                       $for post in posts:
                         <div class="cell">
                             <img src="https://64.media.tumblr.com/2e2bd612f4e03ad4bf38b1d3f9e585bb/tumblr_psful8uBVD1sfht6d_400.jpg" style="width: 32px; height: 32px;">
                             $post['username']
                             <br>
                             $post['content']
                             <br>
                         </div>

                     </div>
                   </div>

                </div>
            </div>

</div>