$def with (page)
$var css: static/css/bootstrap.css static/css/mdb.min.css static/css/style.css static/css/normalize.css
$var js: static/js/jquery-3.5.1.min.js static/js/bootstrap.js static/js/mdb.min.js static/js/script.js
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DMD</title>
    <link rel="icon" type="image/png" href="/static/images/DMDLogo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    $if self.css:
        $for style in self.css.split():
            <link rel="stylesheet" href="$style"/>
    <script src="https://kit.fontawesome.com/e9354ca1c4.js" crossorigin="anonymous"></script>
</head>
<body>

<div id = "app">

    <div class = "content-div">
        <!-- Rewrite Color Scheme of navbar later -->
        $if session['user'] == None:
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">DMD</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse justify-content-end w-100 order-2 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                       <li class="nav-item">
                           <a class="nav-link" href="/login">Login</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/register">Register</a>
                       </li>
                    </ul>
                </div>
            </nav>
        $else:
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">DMD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home feed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile/$session['user']['username']">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/settings">Settings</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse justify-content-end w-100 order-2 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <button class="nav-link btn btn-raised" id="logout">Logout</button>
                            </li>
                        </ul>
                    </div>
                </nav>
    <br>
    $:page
    </div>
</div>



</div>
$if self.js:
    $for script in self.js.split():
        <script src="$script"></script>

</body>
</html>