@media (min-width: 768px) {
    .container-small {
        width: 500px;
        padding: 20px;
    }
    .container-large {
        width: 970px;
    }
}

textarea{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    border:none;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}